<h2>test movies list</h2>
<div class="list-group">
{{#each response }}
    <a href="/movies/{{_id}}" class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ title }}</h5>
            <small>Genre: {{ genre }}</small>
        </div>
        <p class="mb-1">{{ plot }}</p>
        <small>
            {{#each cast }}
                {{name}} |
            {{/each}}
        </small>
    </a>
{{/each}}
</div>